.container {
  max-width: 1200px;
}

.titulo {
  font-size: 30px;
  border-bottom: 2px solid #d0ad00;
  margin-bottom: 50px;
}

.tabela {
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 8px black;
  padding: 5px 10px;
  border-radius: 4px;

  &__cabecalho {
    color: #4d4d4d;

    &__conteudo {
      padding: 10px;
      border-bottom: #d0ad00;
    }
  }

  &__linha {
    margin-bottom: 10px;
    border-radius: 4px;

    &:last-child {
      .tabela__conteudo {
        border-bottom: none;
      }
    }
  }

  &__conteudo {
    padding: 10px;
    border-bottom: 1px solid #d0ad00;
  }
}

.mensagem {
  text-align: right;
  color: #cc0000;
}
