header {
  background-color: #d0ad00;
  color: #ffffff;
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
}

a {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
