.titulo {
  text-align: center;
  background-color: #d0ad00;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  text-transform: uppercase;
  margin-bottom: 45px;
  font-size: 30px;
}

.formulario {
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 0 8px black;
  border-radius: 8px;
}

.form-field {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 18px;
    margin-bottom: 4px;
    color: #4d4d4d;
  }

  &__input {
    font-size: 15px;
    color: #4d4d4d;
    padding: 7px 0;
    border-radius: 4px;
    outline: none;
    border: 2px solid #c4c4c4;
    background-color: #f5f5f5;
    margin-bottom: 10px;
  }
}

.botao {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  &__confirmar {
    font-size: 18px;
    background-color: #006400;
    color: #ffffff;
    padding: 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }

  &__confirmar:active {
    background-color: #00ad00;
    color: #ffffff;
  }
}
