* {
  font-family: Arial, Helvetica, sans-serif;
}

.titulo {
  text-align: center;
  background-color: #d0ad00;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 28px;
}

.container {
  margin: 0 auto;
  max-width: 400px;
  padding: 60px;
}

